.contact {
    min-height: 690px;
    padding: 111px 0 80px 0;
    text-align: center;

    &__wrapper {
        position: relative;
        text-align: center;

        // img {
        //     border: solid 1px red;
        // }

        .one {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            top: -30px;
            left: 409px;


        }

        .two {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            transform: rotate(90deg);
            left: 379px;
            top: 0;

        }

        .three {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            left: 410px;
            top: 270px;

        }

        .four {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            transform: rotate(90deg);
            left: 379px;
            top: 241px;

        }

        .five {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            top: -30px;
            left: 649px;

        }

        .six {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            transform: rotate(90deg);
            top: 0;
            left: 679px;

        }

        .seven {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            top: 270px;
            left: 649px;

        }

        .eight {
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #00c2f0;
            transform: rotate(90deg);
            top: 241px;
            left: 679px;

        }
    }

    &__title {
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
        color: #393939;
        text-align: center;
        margin-top: 90px;
    }

    &_btn {
        width: 241px;
        height: 60px;
        background-color: #00c2f0;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        margin-top: 30px;

        &:hover {
            background-color: white;
            border: none;
        }
    }
}