.contact {
    min-height: 690px;
    padding: 111px 0 80px 0;
    text-align: center;

    &__wrapper {
        position: relative;
        text-align: center;

        .lt,
        .rt,
        .rb,
        .lb {
            width: 50px;
            height: 50px;
            position: absolute;

        }

        .lt {
            top: 0;
            left: 39%;
            border-left: #00c2f0 solid 2px;
            border-top: #00c2f0 solid 2px;
            border-top-left-radius: 20%;
        }

        .lb {
            bottom: 0;
            left: 39%;
            border-left: #00c2f0 solid 2px;
            border-bottom: #00c2f0 solid 2px;
            border-bottom-left-radius: 20%;
        }

        .rt {
            top: 0;
            right: 39%;
            border-right: #00c2f0 solid 2px;
            border-top: #00c2f0 solid 2px;
            border-top-right-radius: 20%;
        }

        .rb {
            bottom: 0;
            right: 39%;
            border-bottom: #00c2f0 solid 2px;
            border-right: #00c2f0 solid 2px;
            border-bottom-right-radius: 20%;
        }
    }

    &__title {
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
        color: #393939;
        text-align: center;
        margin-top: 90px;
    }

    &_btn {
        width: 241px;
        height: 60px;
        background-color: #00c2f0;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        margin-top: 30px;

        &:hover {
            background-color: white;
            border: none;
        }
    }
}