.footer {
    min-height: 500px;
    padding: 50px 0 40px 0;
    background-color: #0082a1;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__company {
        width: 400px;

        &-title {
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            color: #ffffff;
        }

        &-logo {
            margin-top: 20px;
        }

        &-text {
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            margin-top: 20px;
        }
    }

    &__module {
        &-title {
            font-family: Roboto;
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            color: #ffffff;
        }

        &-branch {
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            margin-top: 3px;
        }
    }

    &__industry {
        &-title {

            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            color: #ffffff;

        }

        &-branch {
            font-size: 14px;
            font-weight: 300;
            margin-top: 3px;
            color: #ffffff;
        }
    }

    &__aboutUs {
        &-title {
            font-family: Roboto;
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            color: #ffffff;

        }

        &-branch {
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            margin-top: 3px;
        }
    }

    &__divider {
        width: 1171px;
        height: 1px;
        background-color: rgba($color: #fffafa, $alpha: 0.6);
        margin-top: 44px;
    }

    &__license {
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin-top: 44px;
    }
}