@media (max-width: 1400px) {
    .promo {
        &__wrapper {

            .carousel-control-prev,
            .carousel-control-next {
                display: none;
            }
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        &__wrapper {
            &-header {
                justify-content: space-around;
            }

            &-min {
                width: 940px;
            }
        }
    }

    .solve {
        display: none;
    }

    .advantage {
        &__img {
            img {
                width: 100%;
            }
        }


    }

    .data {
        &__wrapper {
            justify-content: space-around;

            &-item {

                width: 429px;
            }
        }

        &__square {
            right: 323px;

            &-left {
                left: 323px
            }
        }
    }

    .contact {
        &__wrapper {

            .lt,
            .lb {
                left: 37%;
            }

            .rt,
            .rb {
                right: 37%;
            }

        }
    }

    .footer {
        &__divider {
            width: auto;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__wrapper {
            &-min {
                width: 715px;
            }
        }

        &__nav {
            li {
                margin-right: 30px;
            }
        }
    }

    .skills {
        &__items {
            justify-content: space-around;
        }

        &__item {
            display: grid;
            padding: 0 28px;
        }

        &__question {
            img {
                width: 90px;
                height: 90px;
            }
        }
    }

    .advantage {
        &__descr {
            padding: 0 90px;
            height: 143px;
        }
    }

    .data {
        &__title {
            font-size: 30px;
        }

        &__wrapper {
            margin: 0 -6px;
            margin-top: 128px;

            &-item {
                width: 265px;
            }

            &-title {
                line-height: 38px;
            }
        }

        &__square {
            width: 208px;
            height: 208px;
            right: 141px;


            &-left {
                width: 208px;
                height: 208px;
                left: 141px;
            }
        }
    }

    .contact {
        &__wrapper {

            .lt,
            .lb {
                left: 33%;
            }

            .rt,
            .rb {
                right: 33%;
            }

        }
    }

    .footer {
        min-height: 455px;
        padding: 50px 0 6px 0;

        &__wrapper {
            justify-content: space-evenly;
        }

        &__industry,
        &__module {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .header {
        display: none;
    }

    .promo {
        &__nav {
            display: none;
        }

        &__wrapper {
            &-min {
                width: 555px;
            }

            &-header {
                justify-content: flex-end;
            }
        }

        &__title {
            margin-top: 60px;
        }
    }

    .skills {
        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            &-plus {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
            }
        }

        &__item {
            width: 272px;
            padding: 0 0;
        }

        &__question {
            right: 0;
        }
    }

    .advantage {
        &__descr {
            padding: 0 42px;
            font-size: 15px;
            line-height: 19px;
            height: 105px;
        }
    }

    .data {
        padding: 79px 0 140px 0;

        &__wrapper {
            margin-top: 65px;
            justify-content: space-between;

            &-title {
                font-size: 26px;
            }

            &-descr {
                font-size: 15px;
            }
        }

        &__square {
            right: 55px;

            &-left {
                left: 55px;
            }
        }
    }

    .contact {
        &__wrapper {

            .lt,
            .lb {
                left: 29%;
            }

            .rt,
            .rb {
                right: 29%;
            }

        }
    }

    .footer {
        min-height: 430px;

        &__license {
            margin-top: 28px;
        }

        &__divider {
            margin-top: 26px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        &__wrapper {
            &-min {
                width: 458px;
            }
        }
    }

    .skills {
        &__items {
            grid-template-columns: 1fr;
            justify-items: center;

            &-plus {
                grid-template-columns: 1fr;
                justify-items: center
            }
        }
    }

    .advantage {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__descr {
            padding: 0 111px;
            font-size: 20px;
            line-height: 24px;
            height: 136px;
        }
    }

    .data {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            // text-align: center;

            &-item {
                margin: 20px 0;
            }
        }

        &__square {
            display: none;

            &-left {
                display: none;
            }

        }
    }

    .contact {
        &__wrapper {

            .lt,
            .lb {
                left: 23%;
            }

            .rt,
            .rb {
                right: 23%;
            }

        }
    }
}

@media (max-width: 472px) {
    .header {
        &__name {
            font-size: 11px;
        }

        &__descr {
            font-size: 10px;
        }

        &__number {
            font-size: 10px;
        }
    }

    .promo {
        &__wrapper {
            &-header {
                justify-content: space-around;
            }
        }

        &__title {
            font-size: 35px;
            margin-top: 92px;
        }

        &__subtitle {
            font-size: 21px;
            margin-top: 45px;
        }
    }

    .data {
        &__square {
            &-left {
                left: 218px;
            }
        }
    }
}

@media (max-width: 446px) {
    .header {
        &__wrapper {
            display: grid;
            grid-template-columns: 320px;
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;
            justify-content: space-between;
            ;
        }

        &__items {
            padding-left: 0;
            width: 200px;
        }
    }

    .promo {
        &__wrapper {
            &-min {
                width: 320px;
            }
        }

        &__title {
            margin-top: 54px
        }
    }

    .skills {
        &__descr {
            font-size: 16px;

            &-plus {
                font-size: 16px;
            }
        }
    }

    .advantage {
        &__descr {
            padding: 0 46px;
            font-size: 16px;
            line-height: 21px;
            height: 125px
        }
    }

    .data {
        &__square {
            &-left {
                left: 90px;
            }
        }
    }

    .contact {
        &__wrapper {

            .lt,
            .lb {
                left: 15%;
            }

            .rt,
            .rb {
                right: 15%;
            }
        }
    }

    .footer {
        min-height: 375px;

        &__wrapper {
            flex-direction: column;
        }

        &__company {
            width: 289px;
            margin: 0 auto;

            &-text {
                display: none;
            }
        }

        &__aboutUs {

            margin-top: 20px;
            text-align: right;

        }
    }
}