.solve {
    background: url(../img/solve/background.png) center center/cover no-repeat;
    min-height: 890px;
    padding: 79px 0 61px 0;

    &__title {
        font-size: 30px;
        line-height: 35px;
        font-weight: 900;
        color: #ffffff;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        color: #ffffff;
        width: 1075px;
        height: 64px;
        padding: 5px 5px 5px 5px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 25px;

    }

    &__item {
        display: flex;
        border-left: 1px solid white;
        padding: 0 45px;
        align-items: center;
        cursor: pointer;

        &:nth-child(1) {
            border-left: none;
        }

        &:hover {
            color: #00c2f0;
        }
    }

    &__background {
        position: relative;
        background: url(../../img/solve/macbook.png) center center/cover no-repeat;
        height: 670px;
        margin-top: 36px;
    }

    &__slider {
        position: absolute;
        width: 834px;
        top: 6.6%;
        left: 142px;
        z-index: 1;
    }
    .carousel-control-next {
        right: -190px;
        z-index: 4;
    }

    .carousel-control-prev {
        left: -190px;
        z-index: 4;
    }
    .carousel-indicators {
        bottom: -8px;
        button {
            background-color: black;
        }
    }
}